:root {
  --black: #0a0a0a;
  --gray-900: #121212;
  --gray-700: #1e1e1e;
  --gray-500: #262626;
  --gray-400: #787878;
  --gray-300: #a1a1a1;
  --gray-100: #f2f2f2;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #ededed;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3.5%;

  overflow-x: hidden;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}

button {
  font-size: 1.6rem;
  cursor: pointer;
  border: 0;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 3rem 0;

  background-color: var(--black);
  color: #fff;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
  align-items: center;
  gap: 4.2rem;
}

header ul li {
  list-style-type: none;
}

header a {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
}

#hero {
  width: 100%;
  height: calc(100vh - 7.9rem);

  display: flex;
  align-items: center;

  position: relative;
  background-color: #000;
}

#hero .hero-shadow {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  background: linear-gradient(
    90.91deg,
    #000000 -5%,
    rgba(171, 171, 171, 0.2) 50%,
    rgba(171, 171, 171, 0) 120%
  );
}

.hero-model img {
  height: 100%;

  position: absolute;
  top: 0;
  right: -50px;
  z-index: 0;
}

#hero .container {
  position: relative;
  z-index: 2;
}

.infos-container {
  max-width: 60rem;
  color: var(--white);
}

.infos-container h1 {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.infos-container p {
  max-width: 50rem;
  margin-top: 3rem;

  font-size: 2rem;
}

.infos-container button {
  width: 75%;
  margin-top: 4rem;
  padding: 1.5rem 0;

  background-color: #050505;
}

.infos-container button a {
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
}

.costumers {
  margin-top: 2.4rem;

  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.customers-images img {
  width: 100%;
  max-width: 4rem;
}

.costumers .second-client {
  margin-left: -2rem;
}

.costumers .third-client {
  margin-left: -2rem;
}

.costumers .fourth-client {
  margin-left: -2rem;
}

.costumers span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e2e2e2;
}

#how-it-works {
  position: relative;
}

#how-it-works h2 {
  padding-top: 6.4rem;

  position: relative;
  z-index: 1;
}

#how-it-works p {
  max-width: 58rem;
  margin-top: 2.4rem;

  position: relative;
  z-index: 1;

  font-size: 2rem;
}

.benefits-cards {
  margin-top: 5rem;
  padding-bottom: 6.4rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;

  position: relative;
  z-index: 1;
}

.benefits-card .icon {
  width: 7rem;
  height: 7rem;
  margin-bottom: -3.5rem;
  margin-left: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;

  background-color: #b7b7b7;
}

.benefits-card .icon span {
  font-size: 3.2rem;
}

.benefits-card .text {
  height: 25rem;
  padding: 6.4rem 4rem 6.4rem 2rem;

  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 0;

  background-color: var(--gray-700);
}

.benefits-card .text strong {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--white);
}

.benefits-card .text span {
  margin-top: 1.2rem;

  font-size: 1.6rem;
  font-weight: 500;
  color: var(--gray-300);
}
img.detail-logo {
  display: block;
  height: 100%;
  z-index: 0;

  position: absolute;
  top: 0;
  right: 0;
}

#plans {
  padding: 10.8rem 0;

  background-color: var(--gray-900);
  color: #eeee;
}

.plans-cards {
  margin-top: 7rem;
  padding-top: 0.8rem;
  position: relative;

  display: grid;
  grid-template-columns: 34rem 34rem 34rem;
  place-content: center;
  gap: 4rem;
}

.plans-card {
  height: 100%;
  background-color: var(--gray-700);
}

.plans-card .header {
  padding: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #eee;
}

.plans-card .icon {
  padding: 1rem;
  border: 1px solid #090808;
}

.plans-card .value {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.plans-card .header h3 {
  color: #0f0f0f;
}
.plans-card .header span {
  font-weight: 600;
  color: #7a7a7a;
}

.plans-card .content {
  height: 30rem;
  padding: 2rem 3rem;
}

.plans-card h3 {
  font-size: 2.4rem;
}

.plans-card ul {
  margin-top: 2.4rem;
  list-style-type: square;
  list-style-position: inside;
  font-size: 1.4rem;
}

.plans-card ul li {
  margin-top: 1rem;
}

.plans-card ul li span {
  position: relative;
  left: -1rem;
}

.plans-card button {
  padding: 1rem 5rem;

  background-color: var(--white);

  position: relative;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.plans-card button a {
  font-weight: 600;
}

#testimonials {
  margin-top: 6.4rem;
}

.testimonials-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonials-header .texts {
  text-transform: uppercase;
}

.testimonials-header .texts h4 {
  font-size: 2rem;
  font-weight: 600;
  color: #898989;
}

.testimonials-header img {
  margin-right: -130px;
}

.testimonials-slider {
  padding: 6rem;
}

.flickity-page-dots {
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.slide-cell {
  width: 29rem;
  height: 35rem;
  margin: 0 1.6rem;
  padding: 2.8rem 1.2rem;

  border: 1px solid #121212;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.slide-cell .profile-avaliation {
  margin-bottom: 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.slide-cell p {
  font-size: 1.4rem;
  text-align: center;
}

@media (max-width: 1250px) {
  .hero-model img {
    right: -150px;
  }

  .plans-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  header {
    padding: 2rem 0;
  }

  header nav {
    display: none;
  }

  h2 {
    font-size: 2.2rem;
  }

  #hero .hero-model img {
    max-width: 100%;
    height: 40rem;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }

  #hero .hero-shadow {
    background: linear-gradient(
      180deg,
      rgba(91, 91, 91, 0) 0%,
      #181818 60%,
      rgba(24, 24, 24, 1) 100%
    );
  }

  #hero {
    width: 100%;
    height: 100vh;
  }

  .infos-container {
    max-width: auto;
    margin: 30rem auto 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .infos-container h1 {
    font-size: 3rem;
  }

  .infos-container p {
    width: 100%;
    font-size: 1.2rem;
  }

  .infos-container button {
    width: 100%;
    padding: 1rem 0;
  }

  .infos-container button a {
    font-size: 1.2rem;
  }

  .customers-images img {
    width: 30%;
    max-width: 4rem;
  }

  .costumers span {
    margin-left: -3rem;
    font-size: 0.8rem;
  }

  .benefits-cards {
    margin-top: 2rem;
    grid-template-columns: 1fr;
    place-items: center;
  }

  #how-it-works p {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .benefits-card .icon {
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: -2.25rem;
    margin-left: 1.6rem;
  }

  .benefits-card .icon span {
    font-size: 2rem;
  }

  .benefits-card .text {
    max-width: 22rem;
    height: 17rem;
    padding: 4.5rem 3rem 3rem 1.6rem;
  }

  .benefits-card .text strong {
    font-size: 1.5rem;
  }

  .benefits-card .text span {
    margin-top: 1rem;

    font-size: 1.2rem;
  }

  img.detail-logo {
    display: none;
  }

  #plans {
    padding: 3.2rem 0;
  }

  .plans-cards {
    margin-top: 3.6rem;
    grid-template-columns: 22rem;
  }

  .plans-card .header {
    padding: 1.6rem;
  }

  .plans-card .icon {
    padding: 1rem;
    border: 1px solid #090808;
  }

  .plans-card .icon img {
    width: 3rem;
  }

  .plans-card .header h3 {
    font-size: 2.4rem;
  }
  .plans-card .header span {
    font-size: 1rem;
  }

  .plans-card .content {
    height: 24rem;
    padding: 2rem 3rem;
  }

  .plans-card h3 {
    font-size: 1.6rem;
  }

  .plans-card ul {
    margin-top: 1.5rem;
    font-size: 1rem;
  }

  .plans-card button {
    top: 1.85rem;
    padding: 1rem 2rem;
  }

  .plans-card button a {
    font-size: 1rem;
  }

  .testimonials-header .texts h4 {
    font-size: 1.2rem;
  }

  .testimonials-header img {
    display: none;
  }

  .slide-cell {
    width: 21rem;
    height: 32rem;
  }

  .slide-cell .profile-avaliation:first-child {
    width: 6rem;
  }

  .slide-cell .profile-avaliation strong {
    font-size: 1.4rem;
    text-align: center;
  }

  .slide-cell p {
    font-size: 0.9rem;
  }
}
