:root {
  --black: #0a0a0a;
  --gray-900: #121212;
  --gray-700: #1e1e1e;
  --gray-500: #262626;
  --gray-400: #787878;
  --gray-300: #a1a1a1;
  --gray-100: #f2f2f2;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}

button {
  font-size: 1.6rem;
  cursor: pointer;
  border: 0;
}

.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 3rem 0;

  background-color: var(--black);
  color: #fff;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
  align-items: center;
  gap: 4.2rem;
}

header ul li {
  list-style-type: none;
}

header a {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
}
